ul.cardlist {
    padding-left: 0;
}
.cardlist li {
    list-style-type: none;
}
.cardlist .ccard {
    border: thin solid;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
}

.d-ib {
    display: inline-block;
}

.cardLogo {
display: inline-block;
    width: 50px;
    height: 30px;
    overflow: hidden;
    text-align: left;
    text-indent: -999px;
    background: url(../img/sprite-cards.png) 0 0 no-repeat;
}

.card_mc {
    background-position: -55px 0;
}

.card_amex {
    background-position: -110px 0;
}

.card_discover {
    background-position: -165px 0;
}

.card_diners {
    background-position: -220px 0;
}

.card_jcb {
    background-position: -660px 0;
}
